* {
    font-family: Arial, sans-serif;
}

/* nav */
nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-direction: row;
    height: auto;
    background-color: navy;
    color: white;
    align-items: center;
}
nav ul {
    display: flex;
    flex-direction: row;
    width: inherit;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    text-align: center;
    margin-right: 5px;
} 

#brand {
    margin-left: 10px;
    padding: 5px;
    background-color: crimson;
    border-radius: 5px 0 5px 0;
}

#current-user {
    display: block;
    background-color: seagreen;
    border-radius: 50%;
    padding: 9px 5px 5px 5px;
    width: 24px;
    height: 20px;
}

nav input, nav button {
    display: block;
    height: 25px;
    background-color: orange;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.1em;

}
/* main-page */

.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-top: 10px;
}

/* chatBox css */

#chat{
	min-height: 400px;
	max-height: 400px;
	width: 100%;
	border: 2px solid black;
}

#chatBox{
	max-height: 380px;
	min-height: 380px;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
}

#chatInput{
	width: 100%;
	border-top:2px solid black;
}

.chatMsg{
	width: 90%;
	margin: 10px auto;
	padding: 3px 5px 3px 0;
	color: #4A5043;
}

.chatTime{
	padding: 0;
	margin: 0 0 0 5px;
	user-select: none;
}

.chatUser{
	margin-left: 5px;
	margin-top: 5px;
	border:2px solid #8AA1B1;
	border-radius: 4%;
	background-color: #8AA1B1;
	user-select: none;
}

.chatText{
	margin-left: 5px;
	margin-top:5px;
	user-select: none;
}

.chatRight{
	background-color:#7CDEDC;
	border-radius: 2%;
}

.chatLeft{
	background-color: #B9D8C2;
	border-radius: 2%;
}



/* hidden css */

.hide {
    display: none;
}


/* Tasks styles */
#Tasks {
    width: 100%;
    border: 1px solid black;
    max-height: 400px;
	min-height: 400px;
	display: flex;
	flex-direction: column;
}

#Tasks__header {
    border: 1px solid black;
    padding: .5em;
    background: rgb(162,162,162);
    background: linear-gradient(90deg, rgba(162,162,162,1) 0%, rgba(255,255,255,1) 100%);
}

#Tasks__output {
    height: 25em;
    overflow: scroll;
}

#Tasks__output .Task__card:nth-child(even) {
    background-color: rgba(128, 128, 128, 0.233);
}

#Tasks__header h3{
    display: inline-block;
}

#Tasks__header button {
    margin-left: 2em;
}

.complete {
    color: green;
}

.Task__card {
    border: 1px solid black;
    padding: .5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Task__card p, 
.Task__card button, 
.Task__card h4, 
.Task__card div {
    display: inline-block;
}

/*News Styles*/
.friend-article {
    font-style: italic;
    background-color: cornsilk;
}

#News {
    width: 100%;
    border: 1px solid black;
    max-height: 400px;
	min-height: 400px;
	display: flex;
	flex-direction: column;
}

#News__header {
    border: 1px solid black;
    padding: .5em;
    background: rgb(162,162,162);
    background: linear-gradient(90deg, rgba(162,162,162,1) 0%, rgba(255,255,255,1) 100%);
}

#Articles__output {
    height: 25em;
    overflow: scroll;
}

#News__header h3{
    display: inline-block;
}

#News__header button {
    margin-left: 2em;
}




/* modal styles */

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/* Friends list styles */
[x-arrow] {
    position: absolute;
    border-bottom: 14px solid black;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    top: -14px;
}

#friends {
    width: 10em;
    border: 1px solid black;
    background-color: white;
}

#friends > h3 {
    margin: .5em 0 .5em 0;
}

#Friend__output {
    height: 15em;
    overflow: scroll;
}

.Friend__card {
    border: 1px solid black;
}

.Friend__card h3 {
    margin-bottom: .2em;
}

.Friend__card p {
    margin: .2em 0 .2em 0;
}

.Friend__card:nth-child(odd) {
    background-color: rgba(128, 128, 128, 0.233);
}

/* User Form styles */

#submit-button, 
.button-signup {
    display: block; 
    height: 25px;
    background-color: orange;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.1em;
}

#login-form, 
#signup-form {
    display: inline-block;
    margin: auto;
}

.landing {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#welcome-message {
    width: 450px;
    text-align: center;
    font-size: 2em;
}