
/* chatBox css */

#chat{
	min-height: 400px;
	max-height: 400px;
	width: 40%;
	border: 2px solid black;
}

#chatBox{
	max-height: 380px;
	min-height: 380px;
	overflow-y: scroll;
}

#chatInput{
	width: 100%;
	border-top:2px solid black;
}




/* hidden css */

.hide {
    display: none;
}


/* Tasks styles */

.complete {
    color: green;
}

/* modal styles */

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
/*
event styling */

.Event__card__content * {
    display: inline;
}
.Event__card__edit * {
    display: inline;
}